<h2>Add a New Product</h2>

<form (ngSubmit)="onAdd()" [formGroup]="productForm" >
  <div>
    <label for="title">Title:</label>
    <input formControlName="title" type="text" id="title"  name="title" required>
  </div>

  <div>
    <label for="price">Price:</label>
    <input formControlName="price" type="number" id="price" name="price" required>
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea formControlName="description" id="description"   name="description" required></textarea>
  </div>

 <div formArrayName="images">
      @for(imgCtrl of images.controls; track imgCtrl; let i = $index) {
        <div>
          <input type="text" [formControlName]="i" placeholder="add image">
        
          @if(images.length > 1) {
            <button type="button" (click)="removeImageField(i)">Remove field</button>
          }

        @if(imgCtrl.invalid && imgCtrl.touched) {
          <div style="color: red">
              Please enter a valid URL
          </div>
        }
        </div>
      }
<button type="button" (click)="addImageField()">Add image</button>
  
 </div>

 


  <div>
    <label for="category">Category:</label>
    <input type="text"  formControlName="categoryId"  id="category" name="category" required>
  </div>

  <button type="submit">Save Product</button>
</form>